@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;500;900&display=swap');

$brand-font: 'Exo 2', sans-serif;

// Brand Colors
$brand-black: #54575A;
$brand-white: #EEEEEF;
$brand-orange: #CE8316;

$brand-green-soft: #BEED76;
$brand-green-strong: #295E11;

$brand-purple-soft: #841E62;
$brand-purple-strong: #58094F;

$brand-yellow: #DFE566;


// Wrappers sizes
$padding-wrapper-sm: 1rem;

$padding-wrapper-md: 2rem;

$padding-wrapper-lg: 3rem;

$padding-wrapper-xl: 4rem;

$padding-h1-sm: 1rem;
$padding-h1-md: 1.5rem;
$padding-h1-xl: 2rem;