$brand-light: rgba(238, 242, 244, 1);
$brand-dark: rgba(54, 61, 78, 1);
$brand-pink: rgba(239, 71, 111, 1);
$brand-yellow: rgba(255, 209, 102, 1);
$brand-green: rgba(6, 214, 160, 1);
$brand-blue: rgba(47, 105, 253, 1);